body {
    background-color: black;
    color:white;
}
header, main, footer,nav{
    width:50;
    text-align:center;
}
footer {
    font-variant: small-caps;
    text-align:center;
    font-size: 1em;
    color:gray;
    clear:left;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;
    color: white;
}
nav a:hover {  
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s; 
}

a:link {
    color: red;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
